<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Cards</title>
  <link rel="stylesheet" href="events.component.css">
</head>
<body>
  <div class="event-card-container">
    <div class="event-card">
      <img src="assets/images/logo.png" alt="Event 1">
      <div class="event-card-content">
        <h3>Infothon</h3>
        <p class="event-description">Welcome to Infothon 2024, the ultimate offline hackathon hosted by the Information Science and Engineering Department of VVCE Mysore! Infothon 2024 is an exhilarating 24-hour coding extravaganza that brings together passionate innovators, programmers, and problem solvers from all walks of life.</p>
        
      </div>
    </div>
    <div class="event-card">
      <img src="assets/images/Symb.webp" alt="Event 2">
      <div class="event-card-content">
        <h3>Symbiot</h3>
        <p class="event-description">SYMBIOT is a 24-hour build challenge organized by the Department of ECE, Vidyavardhaka College of Engineering, in association with IoTCrew and IEEE. It is a national-level hackathon where participants from different colleges across the country compete to solve real-world problems. </p>
        
      </div>
    </div>
  </div>
  <script src="events.component.ts"></script>
</body>
</html>
